*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 540px;
    padding: 40px;
    background-color: rgb(176, 40, 40);
    border-radius: 20px;
}

.row {
    display: flex;
    flex: 1 1 0;
}

.box {
    border: 1px solid black;
    background-color: white;
    flex: 1 1 0;
}